/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #000;
  --text-color: #605F5F;
  --section-bg-color: #EEEEEE;
  /* Nez */
  --nez-primary-color: #397DFF;
  --nez-primary-color-dark: #356FE1;
  /* Chimalli */
  --chimalli-primary-color: #48D951;
  --chimalli-primary-color-dark: #3CB443;
  /* Painal */
  --painal-primary-color: #A465FA;
  --painal-primary-color-dark: #8B4EDD;
  /* Xelhua */
  --xelhua-primary-color: #F25362;
  --xelhua-primary-color-dark: #B22B38;
  /* Alwa */
  --alwa-primary-color: #FF9237;
  --alwa-primary-color-dark: #A65511;

}

/* :root {} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* position: relative; */
  /* font-weight: normal; */
}

/* html{ */
  /* width: 100px; */
/* } */
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* min-height: 100vh; */
  /* min-width: 100vw;   */
  /* width: 50vw !important; */
  line-height: 1.6;
  font-size:16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
