/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #000;
  --text-color: #605F5F;
  --section-bg-color: #EEEEEE;
  /* Nez */
  --nez-primary-color: #397DFF;
  --nez-primary-color-dark: #356FE1;
  /* Chimalli */
  --chimalli-primary-color: #48D951;
  --chimalli-primary-color-dark: #3CB443;
  /* Painal */
  --painal-primary-color: #A465FA;
  --painal-primary-color-dark: #8B4EDD;
  /* Xelhua */
  --xelhua-primary-color: #F25362;
  --xelhua-primary-color-dark: #B22B38;
  /* Alwa */
  --alwa-primary-color: #FF9237;
  --alwa-primary-color-dark: #A65511;
  --vc-pgn-height:10px;
  --vc-pgn-width:10px;
  --vc-pgn-border-radius:50px;
  

}

/* :root {} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* position: relative; */
  /* font-weight: normal; */
}

/* html{ */
  /* width: 100px; */
/* } */
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* min-height: 100vh; */
  /* min-width: 100vw;   */
  /* width: 50vw !important; */
  line-height: 1.6;
  font-size:16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
/* #app{ */
  /* width: 100%; */
  /* background: red; */
/* } */
img {
  max-width:100%;
  max-height:100%;
  /* width: 100%; */
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  :root{
  --color-black: red;

  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}
