@import './base.css';



.bg--black {
  background: var(--color-black) !important;
}
.text-color--black{
  color: var(--color-black) !important;
}
.bg--white {
  background: var(--color-white) !important;
}
.text-color--white{
  color: var(--color-white) !important;
}
/* ____________________________________ */

.bg--nez-primary-color{
  background: var(--nez-primary-color) !important;
}
.text-color--nez-primary-color{
  color: var(--nez-primary-color) !important;
}

.bg--nez-primary-dark-color {
  background: var(--nez-primary-color-dark) !important;
  /* background:red; */
}
.text-color--nez-dark-color{
  color: var(--nez-primary-color-dark) !important;
}

/*  */
.bg--chimalli-primary-color{
  background: var(--chimalli-primary-color) !important;
}
.text-color--chimalli-primary-color {
  color: var(--chimalli-primary-color) !important;
}
/*  */
.bg--chimalli-primary-dark-color {
  background: var(--chimalli-primary-color-dark) !important;
}
.text-color--chimalli-primary-dark-color {
  color: var(--chimalli-primary-color-dark) !important;
}


.bg--painal-primary-color{
  background: var(--painal-primary-color) !important;
}
.text-color--painal-primary-color {
  color: var(--painal-primary-color) !important;
}

.bg--painal-primary-dark-color {
  background: var(--painal-primary-color-dark) !important;
}
.text-color--painal-primary-dark-color {
  color: var(--painal-primary-color-dark) !important;
}
/*  */
.bg--xelhua-primary-color{
  background: var(--xelhua-primary-color) !important;

}

.text-color--xelhua-primary-color{
  color: var(--xelhua-primary-color) !important;
}
.bg--xelhua-primary-dark-color {
  background: var(--xelhua-primary-color-dark) !important;
}
.text-color--xelhua-primary-dark-color{
  color: var(--xelhua-primary-color-dark) !important;
}
/*  */
.bg--alwa-primary-color{
  background: var(--alwa-primary-color) !important;
}
.text-color--alwa-primary-color{
  color: var(--alwa-primary-color) !important;
}
/*  */
.bg--alwa-primary-dark-color {
  background: var(--alwa-primary-color-dark) !important;
}
.text-color--alwa-primary-dark-color{
  color: var(--alwa-primary-color-dark) !important;
}
/*  */
.bg--section{
  background-color: var(--section-bg-color) !important;
}

.text-color--default {
  color: var(--text-color) !important; 
}

.text-size--xs {
  font-size: .5rem  !important;
}
.text-size--sm {
  font-size: 1rem !important;
}
.text-size--md {
  font-size: 1.5rem !important;
}
.text-size--lg {
  font-size: 2rem !important;
}
.text-size--xl {
  font-size: 3rem  !important;
}
.text-align--justify {
  text-align: justify;
}
.text-align--center{
  text-align: center;
}

/*  */
.pa--xs{
  padding: 10px;
}
.pa--sm{
  padding: 15px;
}
.pa--md{
  padding: 20px;
}

.pa--lg{
  padding: 30px;
}

.pa--xl{
  padding: 40px;
}

.mb--xs{
  margin-bottom: 10px;
}
.mb--sm{
  margin-bottom: 15px;
}
.mb--md{
  margin-bottom: 20px;
}

.mb--lg{
  margin-bottom: 30px;
}

.mb--xl{
  margin-bottom: 40px;
}
/*  */
.w-10{
width: 10% !important;
}
.w-20{
width: 20% !important;
}
.w-30{
width: 30% !important;
}
.w-40{
width: 40% !important;
}
.w-50{
width: 50% !important;
}
.w-60{
width: 60% !important;
}
.w-70{
width: 70% !important;
}
.w-80{
width: 80% !important;
}
.w-90{
width: 90% !important;
}
.w-100{
width: 100% !important;
}

/* Flexbox */
.flex {
  display: flex !important;
}
.flex-direction--row{
  flex-direction:row;
}

.flex-direction--column{
  flex-direction:column;
}

.flex-direction--column-reverse{
  flex-direction:column-reverse;
}

.flex-direction--row-reverse{
  flex-direction:row-reverse;
}

.justify-content--center {
  justify-content: center;
}
.justify-content--space-between {
  justify-content: space-between;
}
.justify-content--space-around {
  justify-content: space-around;
}
.justify-content--space-evenly{
  justify-content: space-evenly;
}
.align-items--center{
  align-items: center;
}

.align-items--end{
  align-items: flex-end;
}
.align-items--start{
  align-items: flex-start;
}

.align-items--stretch{
  align-items: stretch;
}
.flex-wrap{
  flex-wrap: wrap;
}
.circle{
  border-radius: 100%;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
